<section class="comment">
    <div class="comment__container">
        <div class="comment__contant">
            <div class="comment__item item-comment">
                <div class="rating-comment rating_set">
                    <div class="rating-comment__body">
                        <div class="rating-comment__active"></div>
                        <div class="rating-comment__items">
                            <input type="radio" class="rating-comment__item" value="1" name="rating">
                            <input type="radio" class="rating-comment__item" value="2" name="rating">
                            <input type="radio" class="rating-comment__item" value="3" name="rating">
                            <input type="radio" class="rating-comment__item" value="4" name="rating">
                            <input type="radio" class="rating-comment__item" value="5" name="rating">
                        </div>
                    </div>
                    <div class="rating-comment__value">1.6</div>
                </div>
                <div class="item-comment__text">
                    <p>I can’t recommend this podcast enough</p>
                </div>
                <h3 class="item-comment__name">Betty Lacey</h3>
            </div>
            <div class="comment__item item-comment">
                <div class="rating-comment rating_set">
                    <div class="rating-comment__body">
                        <div class="rating-comment__active"></div>
                        <div class="rating-comment__items">
                            <input type="radio" class="rating-comment__item" value="1" name="rating">
                            <input type="radio" class="rating-comment__item" value="2" name="rating">
                            <input type="radio" class="rating-comment__item" value="3" name="rating">
                            <input type="radio" class="rating-comment__item" value="4" name="rating">
                            <input type="radio" class="rating-comment__item" value="5" name="rating">
                        </div>
                    </div>
                    <div class="rating-comment__value">3.6</div>
                </div>
                <div class="item-comment__text">
                    <p>Jacob is the best in the business</p>
                </div>
                <h3 class="item-comment__name">Adam Driver</h3>
            </div>
            <div class="comment__item item-comment">
                <div class="rating-comment rating_set">
                    <div class="rating-comment__body">
                        <div class="rating-comment__active"></div>
                        <div class="rating-comment__items">
                            <input type="radio" class="rating-comment__item" value="1" name="rating">
                            <input type="radio" class="rating-comment__item" value="2" name="rating">
                            <input type="radio" class="rating-comment__item" value="3" name="rating">
                            <input type="radio" class="rating-comment__item" value="4" name="rating">
                            <input type="radio" class="rating-comment__item" value="5" name="rating">
                        </div>
                    </div>
                    <div class="rating-comment__value">2.4</div>
                </div>
                <div class="item-comment__text">
                    <p>A wealth of audio knowledge</p>
                </div>
                <h3 class="item-comment__name">Marcus Brown</h3>
            </div>
            <div class="comment__item item-comment">
                <div class="rating-comment rating_set">
                    <div class="rating-comment__body">
                        <div class="rating-comment__active"></div>
                        <div class="rating-comment__items">
                            <input type="radio" class="rating-comment__item" value="1" name="rating">
                            <input type="radio" class="rating-comment__item" value="2" name="rating">
                            <input type="radio" class="rating-comment__item" value="3" name="rating">
                            <input type="radio" class="rating-comment__item" value="4" name="rating">
                            <input type="radio" class="rating-comment__item" value="5" name="rating">
                        </div>
                    </div>
                    <div class="rating-comment__value">4.1</div>
                </div>
                <div class="item-comment__text">
                    <p>Every episode is a gem!</p>
                </div>
                <h3 class="item-comment__name">Jessica Knowl</h3>
            </div>
            <div class="comment__item item-comment">
                <div class="rating-comment rating_set">
                    <div class="rating-comment__body">
                        <div class="rating-comment__active"></div>
                        <div class="rating-comment__items">
                            <input type="radio" class="rating-comment__item" value="1" name="rating">
                            <input type="radio" class="rating-comment__item" value="2" name="rating">
                            <input type="radio" class="rating-comment__item" value="3" name="rating">
                            <input type="radio" class="rating-comment__item" value="4" name="rating">
                            <input type="radio" class="rating-comment__item" value="5" name="rating">
                        </div>
                    </div>
                    <div class="rating-comment__value">5.0</div>
                </div>
                <div class="item-comment__text">
                    <p>Whoa whoa, let me take some notes!</p>
                </div>
                <h3 class="item-comment__name">Scott Adams</h3>
            </div>
            <div class="comment__item item-comment">
                <div class="rating-comment rating_set">
                    <div class="rating-comment__body">
                        <div class="rating-comment__active"></div>
                        <div class="rating-comment__items">
                            <input type="radio" class="rating-comment__item" value="1" name="rating">
                            <input type="radio" class="rating-comment__item" value="2" name="rating">
                            <input type="radio" class="rating-comment__item" value="3" name="rating">
                            <input type="radio" class="rating-comment__item" value="4" name="rating">
                            <input type="radio" class="rating-comment__item" value="5" name="rating">
                        </div>
                    </div>
                    <div class="rating-comment__value">4.4</div>
                </div>
                <div class="item-comment__text">
                    <p>I’ve upped my game considerably since I started listening</p>
                </div>
                <h3 class="item-comment__name">Steven Blast</h3>
            </div>
        </div>
    </div>
</section>