<section class="episodes">
  <div class="episodes__container">
    <div class="episodes__contant">
      <h2 class="episodes__title title">Latest episodes</h2>
      <a href="#" class="episodes__button button">View all episodes</a>
    </div>
    <div class="episodes__items items-episodes">
      <div class="items-episodes__images">
        <img src="@img/Episodes/episodes-1.png" alt="episodes-img" />
      </div>
      <div class="items-episodes__item item">
        <button class="item__button">Gear</button>
        <div class="item__episode">Episode 3</div>
        <h2 class="item__title">Should you get outboard audio gear?</h2>
        <div class="item__text text">
          <p>
            Is hardware really worth it when it comes to podcasting? The answer
            is...it depends. Here’s our reasons on why you might want to
            consider picking something up.
          </p>
        </div>
        <a href="#" class="episodes__button button">View Episode Details</a>
      </div>
    </div>
    <div class="episodes__items items-episodes">
      <div class="items-episodes__images">
        <img src="@img/Episodes/episodes-2.png" alt="episodes-img" />
      </div>
      <div class="items-episodes__item item">
        <button class="item__button">Tips & Tricks</button>
        <div class="item__episode">Episode 2</div>
        <h2 class="item__title">Mic tricks to take you to the next level</h2>
        <div class="item__text text">
          <p>
            Stop rolling with those default settings on your mic. These small
            tweaks will take you from sounding good to great.
          </p>
        </div>
        <a href="#" class="episodes__button button">View Episode Details</a>
      </div>
    </div>
    <div class="episodes__items items-episodes">
      <div class="items-episodes__images">
        <img src="@img/Episodes/episodes-3.png" alt="episodes-img" />
      </div>
      <div class="items-episodes__item item">
        <button class="item__button">Gear</button>
        <div class="item__episode">Episode 1</div>
        <h2 class="item__title">The best microphone under $200</h2>
        <div class="item__text text">
          <p>
            With so many microphones on the market, how are you supposed to know
            what’s the best? Take a look at our top picks.
          </p>
        </div>
        <a href="#" class="episodes__button button">View Episode Details</a>
      </div>
    </div>
  </div>
</section>
