<footer class="footer">
  <div class="footer__container">
    <div class="footer__contant contant-footer">
      <div class="contant-footer__logo footer-logo">
        <a href="#"> <img class="footer-logo__img" src="@img/logo.svg" alt="Logo" /></a>
        <div class="footer-logo__apps">
          <a href="#"><img src="@img/apps/instagram.svg" alt="instagram" /></a>
          <a href="#"><img src="@img/apps/twitter.svg" alt="twitter" /></a>
          <a href="#"><img src="@img/apps/facebook.svg" alt="facebook" /></a>
        </div>
      </div>
      <ul class="contant-footer__items items-footer">
        <li class="items-footer__list">
          <a href="#" class="items-footer__link">Home</a>
        </li>
        <li class="items-footer__list">
          <a href="#" class="items-footer__link">Episodes</a>
        </li>
        <li class="items-footer__list">
          <a href="#" class="items-footer__link">About</a>
        </li>
        <li class="items-footer__list">
          <a href="#" class="items-footer__link">Contact</a>
        </li>
      </ul>
      <ul class="contant-footer__items items-footer">
        <li class="items-footer__list">
          <a href="#" class="items-footer__link">Style Guide</a>
        </li>
        <li class="items-footer__list">
          <a href="#" class="items-footer__link">Instructions</a>
        </li>
        <li class="items-footer__list">
          <a href="#" class="items-footer__link">Changelog</a>
        </li>
        <li class="items-footer__list">
          <a href="#" class="items-footer__link">Credit</a>
        </li>
        <li class="items-footer__list">
            <a href="#" class="items-footer__link">Powered by Webflow</a>
          </li>
        <li class="items-footer__list">
            <a href="#" class="items-footer__link">Licenses</a>
          </li>
      </ul>
      <div class="contant-footer__icon">
        <a href="#"><img src="@img/icon/spotify.svg" alt="icon"></a>
          <a href="#"><img src="@img/icon/music.svg" alt="icon"></a>
          <a href="#"><img src="@img/icon/music-icon.svg" alt="icon"></a>
          <a href="#"><img src="@img/icon/listen.svg" alt="icon"></a>
          <a href="#"><img src="@img/icon/radio.svg" alt="icon"></a>
      </div>
    </div>
  </div>
</footer>
