<header class="header">
  <div class="header__container">
    <div class="header__contant">
      <a href="#"><img src="@img/logo.svg" alt="logo"></a>   
      <nav class="menu__navbar">
        <ul class="menu__lists">
          <li class="menu__list"><a href="#" class="menu__link">Home</a></li>
          <li class="menu__list"><a href="#" class="menu__link">Episodes</a></li>
          <li class="menu__list"><a href="#" class="menu__link">About</a></li>
          <li class="menu__list"><a href="#" class="menu__link">Contact</a></li>
        </ul>
      </nav>
      <div class="header__menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
     </div>
     <div class="header__main main-header">
      <div class="main-header__img">
        <img src="@img/header img .png" alt="header-img">
      </div>
      <div class="main-header__contant">
        <h2 class="main-header__title">Take your <br> podcast to the <br> next <strong>level</strong></h2>
        <span class="main-header__listen">Listen on</span>
        <div class="main-header__icon">
          <a href="#"><img src="@img/icon/spotify.svg" alt="icon"></a>
          <a href="#"><img src="@img/icon/music.svg" alt="icon"></a>
          <a href="#"><img src="@img/icon/music-icon.svg" alt="icon"></a>
          <a href="#"><img src="@img/icon/listen.svg" alt="icon"></a>
          <a href="#"><img src="@img/icon/radio.svg" alt="icon"></a>
        </div>
      </div>
     </div>
  </div>
</header>
