<section class="meet">
  <div class="meet__container">
    <div class="meet__contant">
      <div class="meet__items items-meet">
        <div class="items-meet__block">
        <button class="items-meet__button button"><a href="#">&#8594</a></button>
        <span class="items-meet__span">Meet your host</span></div>
        <h2 class="items-meet__title">Jacob Paulaner</h2>
        <div class="items-meet__text text">
          <p>
            Jacob has a background in audio engineering, and has been podcasting
            since the early days.
          </p>
          <br>
          <p>
            He’s here to help you level up your game by sharing everything he’s
            learned along the way.
          </p>
        </div>
      </div>
      <div class="items-meet__images">
      <img  src="@img/meet img.png" alt="meet-img" /></div>
    </div>
  </div>
</section>
