<section class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__contant">
      <div class="subscribe__block">
        <span class="subscribe__span">Email Newsletter</span>
        <h2 class="subscribe__title title">Subscribe for updates</h2>
      </div>
      <form class="subscribe__item item-subscribe" action="#">
        <input class="item-subscribe__input" type="text" placeholder="Name" />
        <input class="item-subscribe__input" type="email" placeholder="Email" />
        <button class="item-subscribe__button button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
