body {
    font-family: 'Heebo';
    color: #21243D;
}

/*=================================================================================*/

.container {
    max-width: 830px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* header */

/*=================================================================================*/

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 27px 0px;
    margin: 0px 30px;
}

.navbar-lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}

.navbar-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    transition: color 0.5s ease-in-out;
}

.navbar-link:hover {
    text-decoration: underline;
    color: rgb(156, 22, 22);
}
.navbar-link.active {
    color: #f82626;
}

.page-header {
    padding-top: 140px;
    padding-bottom: 75px;
}

.icon-menu {
    display: none;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 115px;
}

.header-main-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.header-main-title:not(:last-child) {
    margin-bottom: 40px;
}

.header-main-text:not(:last-child) {
    margin-bottom: 38px;
}

.header-main-button {
    padding: 9px 20px 17px;
    background-color: #FF6464;
    border-radius: 2px;
    border: none;
    transition: background-color 0.5s ease-out;
}

.header-main-button:hover {
    background-color: #f82626;
}

.header-main-button-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

.header-main-img {
    flex: 0 1 50%;
}

@media (max-width: 767.98px) {
    .header-main {
        flex-direction: column-reverse;
        gap: 55px;
    }

    .page-header {
        padding-top: 70px;
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        background: none;
        border: none;

    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #21243D;
        transition: all 0.5s ease;

    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);

    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }

    .navbar-body {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #b9b8b8;
        left: -100%;
        top: 0;
        padding-top: 100px;
        padding-bottom: 30px;
        z-index: 3;
        overflow: auto;
        transition: left 0.5s ease;
    }

    .navbar-body::before {
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background: #b9b8b8;
        z-index: 2;
        transition: left 0.5s ease;
    }

    .navbar-lists {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar-link {
        font-size: 24px;
    }

    .menu-open .navbar-body,
    .menu-open .navbar-body::before {
        left: 0;
    }
}

@media (max-width: 479.98px) {
    .header-main-button {
        width: 100%;
    }

    .page-header {
        padding-top: 20px;
    }

    .header-main {
        gap: 30px;
    }
}

/*=================================================================================*/

.recent-posts {
    max-width: 100%;
    min-height: 396px;
    background: #EDF7FA;
}

.posts-recent-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-recent {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}

.view-link {
    color: #00A8CC;
}

.view-link:hover {
    text-decoration: underline;
}

.posts-contant {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 32px;
}

.posts-item {
    max-width: 418px;
    min-height: 295px;
    background: #fff;
    padding: 24px 23px;
}

.posts-item-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 17px;
}

.post-item {
    display: flex;
    text-align: center;
}

.post-item-date,
.post-item-worker {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 11px;
}

.post-item-date::after {
    content: '';
    display: block;
    width: 2px;
    height: 21px;
    margin: 0px 20px;
    background-color: #000000;
}

.posts-item-text {
    max-width: 368px;
}

@media (max-width: 978.98px) {
    .posts-contant {
        flex-direction: column;
        padding-bottom: 22px;
    }
}




/*=================================================================================*/
.featured-works {
    padding-top: 32px;
    padding-bottom: 65px;
}

.featured-works-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    padding-bottom: 22px;
}

.featured-works-contant {
    display: flex;
    gap: 18px;
}

.black-line {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
    margin: 15px 0px 31px 0px;
}

.featured-works-img {
    flex: 0 1 50%;
}

.featured-works-contant-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 16px;
}

.featured-works-items {
    display: flex;
    align-items: center;
    gap: 26px;
    padding-bottom: 17px;
}

.featured-works-item-date {
    display: grid;
    place-items: center;
    width: 62px;
    height: 25px;
    font-weight: 900;
    background: #142850;
    border-radius: 16px;
    color: #FFFFFF;
}

.featured-works-item-type {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

@media (max-width: 978.98px) {
    .featured-works-contant {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}



/*=================================================================================*/

.footer-items {
    display: grid;
    place-items: center;
    margin-bottom: 55px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 35px;
}


.footer-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-top: 26px;
}



/*=================================================================================*/