body {
    font-family: 'Heebo';
    color: #21243D;
}

/*=================================================================================*/

.container {
    max-width: 830px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/*=================================================================================*/
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 27px 0px;
    margin: 0px 30px;
}

.navbar-lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}

.navbar-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    transition: color 0.5s ease;

}

.navbar-link.active {
    color: #f82626;
}

.navbar-link:hover {
    text-decoration: underline;
    color: #f82626;
}

.icon-menu {
    display: none;
}


@media (max-width: 767.98px) {
    .header-main {
        flex-direction: column-reverse;
        gap: 55px;
    }

    .page-header {
        padding-top: 70px;
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        background: none;
        border: none;

    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #21243D;
        transition: all 0.5s ease;

    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);

    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }

    .navbar-body {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #b9b8b8;
        left: -100%;
        top: 0;
        padding-top: 100px;
        padding-bottom: 30px;
        z-index: 3;
        overflow: auto;
        transition: left 0.5s ease;
    }

    .navbar-body::before {
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background: #b9b8b8;
        z-index: 2;
        transition: left 0.5s ease;
    }

    .navbar-lists {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar-link {
        font-size: 24px;
    }

    .menu-open .navbar-body,
    .menu-open .navbar-body::before {
        left: 0;
    }
}

/*=================================================================================*/
.contant {
    padding-top: 32px;
    padding-bottom: 27px;
}

.contant-item-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    padding-bottom: 30px;
}

.contant-item-box {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom: 23px;
}

.featured-works-item-date {
    display: grid;
    place-items: center;
    width: 62px;
    height: 25px;
    font-weight: 900;
    color: #fff;
    background: #FF7C7C;
    border-radius: 16px;
}

.featured-works-item-type {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.contant-item-text {
    max-width: 681px;
}

.contant-item-text:not(:last-child) {
    margin-bottom: 46px;
}


@media (max-width: 767.98px) {
    .contant {
        padding-top: 24px;
        padding-bottom: 17px;
    }

    .contant-item-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contant-item-text:not(:last-child) {
        margin-bottom: 23px;
    }

    .contant-item-title {
        padding-bottom: 15px;
    }
}

/*=================================================================================*/
.heading {
    padding-top: 27px;
    padding-bottom: 65px;
}

.heading-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
}

.heading-title-small {
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
}

.heading-text {
    max-width: 677px;
}

.heading-text:not(:last-child){
    margin-bottom: 30px
}

.heading-img {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media (max-width: 767.98px) {
    .heading {
        padding-top: 24px;
        margin-bottom: 45px;
    }

    .heading-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        gap: 20px;
    }

    .heading-text:not(:last-child) {
        margin-bottom: 15px;
    }

}

/*=================================================================================*/
.footer-items {
    display: grid;
    place-items: center;
    margin-bottom: 55px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 35px;
}


.footer-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-top: 26px;
}
/*=================================================================================*/