body {
    font-family: "Poppins";
    font-weight: 300;
    color: #9C9C9C;
    background: #1E1E1E;
}

/* -------------------- */

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

/* -------------------- */
[class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* -------------------- */
.page {
    flex: 1 1 auto;
}

.button {
    display: inline-block;
    text-align: center;
    background-color: #3D96F4;
    padding: 16px 30px;
    border-radius: 50px;
    color: #FFF;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    transition: background-color 0.5s ease-in-out;

}

.button:hover {
    background-color: #1570d0;
    cursor: pointer;
}

.button_dark {
    background: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
    background: rgba(94, 94, 101, 0.2);
}

.header-main__button {
    align-self: flex-end;
}



.header-main__label {
    display: inline-block;
    height: 15px;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    font-size: 10.8px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9C9C9C;
    padding: 11px 18px;
    transition: border 0.3s ease-in-out;
}

.header-main__label:hover {
    cursor: pointer;
    border: 1px solid rgba(129, 129, 139, 0.4)
}

.header-main__label:not(:last-child) {
    margin-bottom: 20px;
}

.header-main__title {
    font-weight: 500;
    font-size: 51.2px;
    line-height: 61px;
    color: #FFFFFF;
}

.header-main__title:not(:last-child) {
    margin-bottom: 28px;
}

.header-main__text {
    line-height: 150%;
    font-size: 18px;
}

.header-main__text:not(:last-child) {
    margin-bottom: 33px;
}

.header-main__action {
    display: flex;
    column-gap: 32px;
    row-gap: 15px;
}


.header-main__list li {
    position: relative;
    min-height: 32px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 4px;
}

.header-main__list li::before {
    content: '';
    background: rgba(129, 129, 139, 0.1) url('../img/Ok.svg') center no-repeat;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    border-radius: 50%;

}

.header-main__list li:not(:last-child) {
    margin-bottom: 16px;
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: #9C9C9C;
}

@media (max-width: 991.98px) {
    .header-main__title {
        font-size: 44px;
    }

    .button {
        padding: 14px 20px;
    }

}

@media (min-width: 768px) {
    .header-main__title {
        max-width: 520px;
    }

    .header-main__title:not(:last-child) {
        margin-bottom: 15px;
    }

    .header-main__text {
        max-width: 500px;
    }

    .header-main__text:not(:last-child) {
        margin-bottom: 15px;
    }

}

@media (max-width: 767.98px) {
    .header-main__title {
        font-size: 32px;
    }

}

@media (max-width: 479.98px) {
    .header-main__action {
        flex-direction: column;

    }
}

/* -------------------- */

/* -------------------- */
/* Header */
/* -------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(13, 13, 17, 0.7);
}

.header__container {
    display: flex;
    column-gap: 35px;
    min-height: 116px;
    align-items: center;
}



.header__menu {
    flex: 1 1 auto;
}


.header__button {
    flex: 0 0 auto;
}


.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 3px;
    justify-content: flex-end;
    gap: 35px;
}

.icon-menu {
    display: none;
}

.menu-link {
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #FFF;
}

.menu-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cart-header {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFF;
}

.cart-header:hover .cart-header__text {
    text-decoration: underline;
}

.cart-header__text {
    font-size: 18px;
    line-height: 28px;
}

.cart-header-quantuty {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.header__logo,
.header__button,
.header__cart {
    position: relative;
    z-index: 5;
}


@media (max-width: 991.98px) {

    .header__container,
    .menu__list {
        column-gap: 25px;
    }

    .header__container {
        min-height: 90px;
    }
}

@media (max-width: 767.98px) {

    .header__container,
    .menu__list {
        column-gap: 10px;
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        background: none;
        border: none;

    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition: all 0.5s ease;

    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);

    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        left: -100%;
        top: 0;
        padding-top: 100px;
        padding-bottom: 30px;
        z-index: 3;
        overflow: auto;
        transition: left 0.5s ease;
    }

    .menu__body::before {
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background: #000;
        z-index: 2;
        transition: left 0.5s ease;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu-link {
        font-size: 24px;
    }

    .header__container {
        min-height: 70px;
    }

    .menu-open .menu__body,
    .menu-open .menu__body::before {
        left: 0;
    }
}

@media (max-width: 560px) {
    .header__logo {
        width: 35px;
        overflow: hidden;
    }

    .cart-header__text {
        display: none;
    }
}

/*----------------------------------------------------------------*/
/* Main  */
/*----------------------------------------------------------------*/

.main {
    padding-top: 160px;
    padding-bottom: 160px;
}

.main__container {
    display: flex;
    gap: 32px;
}

.main__content {
    flex: 0 1 50%;
    position: relative;
    align-self: center;
}

.main__header {
    position: relative;
}

.main__header::before {
    content: '';
    background: url('../img/design.svg') 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    top: -10px;
    left: -30px;
}


.images-main {
    display: flex;
    justify-content: center;
    gap: 9%;
}

.images-main__columnn {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.images-main__item img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .main {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}


@media (max-width: 767.98px) {
    .main {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .main__container {
        flex-direction: column;
    }

    .main__content {
        align-self: stretch;
    }
}

/*----------------------------------------------------------------*/


.clients {
    padding-top: 100px;
    padding-bottom: 70px;
}


.clients__title {
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.57;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    margin-bottom: 44px;
}


.clients-items {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clients__item img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .clients {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .clients__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .clients {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .clients__title {
        margin-bottom: 20px;
    }
}

/*----------------------------------------------------------------*/



.services {
    padding-top: 70px;
    padding-bottom: 100px;
}

.services__container {
    display: flex;
    gap: 32px;
}

.services__content {
    flex: 0 1 50%;
    align-self: center;
}

.services__items {
    flex: 0 1 50%;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.services__column:first-child {
    margin-top: 48px;
}

.services__item:not(:last-child) {
    margin-bottom: 32px;
}

.item-service {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 55px 25px;
    display: block;

}


.item-service__icon:not(:last-child) {
    margin-bottom: 16px;
}

.item-service__title {
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #FFFFFF;
}

.item-service__title:not(:last-child) {
    margin-bottom: 10px;
}


@media (max-width: 1100px) {
    .services__container {
        flex-direction: column;
    }

    .services__header .header-main__title,
    .services__header .header-text {
        max-width: none;
    }
}

@media (max-width: 991.98px) {
    .services {
        padding-top: 50px;
        padding-bottom: 80px;
    }
}

@media (max-width: 767.98px) {
    .services {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

@media (max-width: 620px) {
    .services__items {
        flex-direction: column;
    }

    .services__column:first-child {
        margin-top: 0px;
    }
}


/*----------------------------------------------------------------*/


.why {
    padding-top: 70px;
    padding-bottom: 100px;
}

.why__container {
    display: flex;
    column-gap: 64px;
    row-gap: 32px;
}

.why__images {
    flex: 0 1 50%;
}

.why__content {
    flex: 0 1 50%;
    align-self: center;
}

.images-why {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.images-why__item img {
    max-width: 100%;
}

.images-why::before {
    content: '';
    background: url('../img/design.svg') 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    bottom: 5px;
    left: -15px;
}

@media (max-width: 991.98px) {
    .why {
        padding-top: 50px;
        padding-bottom: 80px;
    }
}

@media (max-width: 767.98px) {
    .why {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .why__container {
        flex-direction: column-reverse;
    }
}

/*----------------------------------------------------------------*/

.advantage {
    padding-top: 100px;
    padding-bottom: 100px;
}

.advantage__container {
    display: flex;
    row-gap: 32px;
}

.advantage__items {
    flex: 1 1 auto;
    display: grid;
    padding-right: 32px;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.header-advantage__title {
    font-size: 51px;
    color: #FFFFFF;
    font-weight: 500;


}

.header-advantage__title:not(:last-child) {
    margin-bottom: 32px;
}

.header-advantage__text {
    font-size: 18px;
    line-height: 1.5;
}


.advantage__header {
    padding: 40px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;

}

.advantage__image {
    align-self: flex-end;
    flex: 0 0 38%;
}

.advantage__image img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .advantage {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .advantage__items {
        padding-right: 0;
    }

    .advantage__container {
        flex-direction: column;
    }

    .advantage__image {
        align-self: center;
    }
}

@media (max-width: 767.98px) {
    .advantage {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media (max-width: 650px) {
    .advantage__items {
        grid-template-columns: auto;
    }
}


/*----------------------------------------------------------------*/


.review {
    padding-top: 100px;
    padding-bottom: 65px;
}

.review-main__title {
    font-weight: 500;
    font-size: 51.2px;
    line-height: 61px;
    color: #FFFFFF;
}

.review-main__title:not(:last-child) {
    margin-bottom: 32px;
}

.review-main__body {
    display: flex;
    justify-content: space-between;
}

.review-main__text .review-main__body {
    margin: 0;
}

.review-main__text {
    max-width: 740px;
    font-size: 18px;
    line-height: 27px;
}

.review-main__text:not(:last-child) {
    margin-bottom: 32px;
}



@media (max-width: 991.98px) {
    .review {
        padding-top: 70px;
        padding-bottom: 35px;
    }

    .review-main__body {
        flex-direction: column;
    }

}

@media (max-width: 767.98px) {
    .review {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .header-main__button {
        align-self: stretch;
    }

}

/*----------------------------------------------------------*/

.comment {
    padding-top: 35px;
    padding-bottom: 100px;
    margin-top: 32px;
}


.comment__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

}

.comment__item {
    padding: 64px 40px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
}

.item-comment {
    display: grid;
    gap: 32px;
}


.item-comment__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
}

.item-comment__text {
    font-size: 16px;
    line-height: 24px;
}

.user-comment {
    display: flex;
    gap: 16px;
    align-items: center;
}

.user-comment__avatar {
    flex: 0 0 68px;
}

.user-comment__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.user-comment__title:not(:last-child) {
    margin-bottom: 7px;
}

.user-comment__company {
    font-size: 14px;
    line-height: 22px;
}


@media (max-width: 991.98px) {
    .comment {
        padding-top: 25px;
        padding-bottom: 70px;
        margin-top: 22px;
    }

    .comment__items {
        grid-template-columns: auto;
    }

}

@media (max-width: 767.98px) {
    .comment {
        padding-top: 15px;
        padding-bottom: 50px;
        margin-top: 12px;
    }

    .item-comment {
        padding: 30px 15px;
    }

}

/*----------------------------------------------------------------*/

.blog {
    padding-top: 35px;
    padding-bottom: 200px;
    margin-top: 32px;
}

.blog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.item-blog {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.item-blog__header {
    position: relative;
}

.item-blog__category {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(129, 129, 139, 0.5);
    border-radius: 0px 10px 0px 0px;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 10px;
}

.item-blog__image {
    margin-bottom: 49px;
}

.item-blog__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-blog__body {
    padding: 36px 26px;
}

.item-blog__date {
    font-size: 16px;
    line-height: 24px;
    color: rgba(129, 129, 139, 0.9);
}

.item-blog__date:not(:last-child) {
    margin-bottom: 20px;
}

.item-blog__title:not(:last-child) {
    margin-bottom: 30px;
}

.item-blog__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.item-blog__link-title {
    font-weight: 400;
    font-size: 19.2px;
    line-height: 27px;
    color: #FFFFFF;
}


.item-blog__text:not(:last-child) {
    margin-bottom: 21px;
}

.item_blog__link {
    font-size: 14px;
    line-height: 22px;
    color: #3D96F4;
}

.item_blog__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .blog__items {
        gap: 20px;
    }

    .item-blog__body {
        padding: 26px 16px;
    }
}

@media (max-width: 991.98px) {
    .blog {
        padding-top: 25px;
        padding-bottom: 70px;
        margin-top: 22px;
    }

}

@media (max-width: 767.98px) {
    .blog {
        padding-top: 15px;
        padding-bottom: 50px;
        margin-top: 12px;
    }

    .blog__items {
        grid-template-columns: auto;
    }

}


/*----------------------------------------------------------------*/

.page__start {
    margin-bottom: 100px;
}

.start__items {
    display: flex;
    align-items: center;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 52px 40px;
}

.start__column {
    flex: 0 1 50%;
    text-align: center;
}

.start__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: #FFF;
}

.start__title:not(:last-child) {
    margin-bottom: 16px;
}

.start__text {
    max-width: 300px;
    display: inline-block;
}

.start__action {
    display: flex;
    column-gap: 32px;
    row-gap: 20px;
    justify-content: center;
}


@media (max-width: 991.98px) {
    .page__start {
        margin-bottom: 50px;
    }

    .start__items {
        align-items: stretch;
        flex-direction: column;
        row-gap: 30px;
    }

}

@media (max-width: 767.98px) {
    .page__start {
        margin-bottom: 30px;
    }

    .start__title {
        font-size: 24px;
    }

}

@media (max-width: 479.98px) {
    .start__action {
        flex-direction: column;
    }

}

/* Footer */
/*----------------------------------------------------------------*/


.footer__main {
    padding-top: 160px;
    padding-bottom: 160px
}

.main-footer__container {
    display: grid;
    gap: 64px;
    grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}

.main-footer__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-footer__label {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.social {
    display: flex;
    gap: 16px;
}

.social__link {
    flex: 0 0 36px;
    height: 36px;
    border: 1px solid rgba(129, 129, 139, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link:hover{
    border: 1px solid rgba(167, 167, 199, 0.9);
    cursor: pointer;
}

.menu-footer__list {
    display: grid;
    gap: 24px;
}

.menu-footer__link {
    line-height: 1.4;
}


.menu-footer__link:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.subscribe {
    display: flex;
    gap: 16px;
}

.subscribe__input {
    height: 52px;
    border: 1px solid rgba(129, 129, 139, 0.3);
    border-radius: 50px;
    padding: 0px 30px;
    color: #FFF;
    background-color: transparent;
}

.subscribe__input::placeholder {
    color: #999999;
}

.bottom-footer {
    border-top: 1px solid rgba(129, 129, 139, 0.2);
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-footer__copy {
    text-align: center;
}

@media (max-width: 1110px) {
    .main-footer__container{
        gap: 45px;
        grid-template-columns: minmax(auto, 378px) auto auto;
    }
    .main-footer__column:nth-child(1){
        grid-column: span 3;
    }
}

@media (max-width: 991.98px) {
    .footer__main {
        padding-top: 800px;
        padding-bottom: 800px
    }
}

@media (max-width: 767.98px) {
    .footer__main {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .main-footer__container{
        gap: 35px;
        grid-template-columns:  auto;
    }
    .main-footer__column:nth-child(1){
        grid-column: span 2;
    }
    .main-footer__column:nth-child(4){
        grid-column: span 2;
    }
    .bottom-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media (max-width: 479.98px){
    .subscribe{
        flex-direction: column;
    }
}


/*----------------------------------------------------------------*/