.modal-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  &_label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    color: rgb(108, 108, 246);
  }
  &_input {
    display: block;
    width: 400px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #aebef6;
    border-radius: 5px;
  }
  &_btn {
    width: 400px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(47, 112, 233);
    color: white;
    font-size: 15px;
    &:hover {
      cursor: pointer;
      background-color: rgb(0, 52, 149);
    }
  }

  &_close{
    font-size: 20px;
    background-color: white;
    border: none;
    width: 400px;
   display: flex;
   justify-content: flex-end;
   cursor: pointer;
  }
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(152, 149, 149, 0.5);
  z-index: 5555;
}

.error {
  color: red;
}

.form_control {
  margin-bottom: 10px;
}
