.card-list {
  display: grid;
  grid-template-columns: repeat(4, 250px);
   justify-content: center;
  row-gap: 25px;
  column-gap: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
  @media(max-width: 1099.98px){
    grid-template-columns: repeat(3, 250px);
   
  }
  @media(max-width: 991.98px){
    grid-template-columns: repeat(2, 250px);
  }
  @media(max-width: 676.98px){
    grid-template-columns: repeat(1, 250px);
    margin-top: 15px;
    margin-bottom: 60px;
  }
}
