.subcribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.15);
  background: rgba(0, 109, 119, 1);
  max-width: 100%;
  height: 450px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 100px;
  @media(max-width: 991.98px){
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 70px;
    min-height: 700px;
  }


  &_title {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 15px;
    @media(max-width: 676.98px){
      font-size: 30px;
    }
  }

  &_text {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.045em;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 15px;
    @media(max-width: 676.98px){
      font-size: 14px;
    }
  }
  &_form{
    position: relative;
    padding-bottom: 20px;
    @media(max-width: 676.98px){
      display: flex;
     align-items: center;
     gap: 30px;
    }
  }

  &_input {
    box-shadow: 0px 0px 11px 1px rgba(194, 194, 194, 0.06);
    width: 360px;
    height: 59px;
    border-radius: 53px;
    background: rgba(255, 255, 255, 1);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-left: 20px;
    outline: none;
    @media(max-width: 676.98px){
      width: 200px;
    }
    @media(max-width: 479.98px){
      width: 150px;
    }
  }

  &_button {
    position: absolute;
    right: 185px;
    top: 5px;
    box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 109, 119, 1);
    color: #fff;
    border: none;
    font-size: 18px;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: rgb(6, 153, 167);
      cursor: pointer;
    }
    @media(max-width: 676.98px){
     position: sticky;
     top: 0;
     right: 0;
     
    }

  }
  &_images{
  & img {
    @media(max-width: 479.98px){
      width: 280px;
    }
  }
}
}

.message{
    font-size: 20px;
    color: rgb(225, 0, 0);
    line-height: 25px;
    font-weight: 400;
}
