body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* HEADER */

.background-section-1 {
    background: url('../img/section-background/section-1\(header\).png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: 1012px;
    position: relative;
}

.header-box {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;
    color: #FFFFFF;
}


.logo>span {
    color: rgba(24, 207, 171, 1);
    font-size: 32px;
    font-weight: 700;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav-lists {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 48px ;
    transition: color 0.5s ease;
}


.header-nav-lists:hover {
    color: #18CFAB;
    border-bottom: 3px solid #18CFAB;
    cursor: pointer;
}

.seach-icon-svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.seach-icon-svg:hover svg path {
    fill: rgba(24, 207, 171, 1);
    border-bottom: 3px solid #18CFAB;
}

.header-paragraph-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.paragraph-box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-paragraph {
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-paragraph>span {
    color: rgba(24, 207, 171, 1);
    padding-left: 5px;
}

.header-title {
    width: 800px;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px;
}

.paragraph {
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    text-align: center;
    color: #D4D4D4;
}

.header-button {
    display: flex;
    justify-content: center;
    gap: 25px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 245px;
}

.header-btn {
    width: 170px;
    height: 63px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-green {
    background-color: rgba(24, 207, 171, 1);
    border: 1px solid rgba(24, 207, 171, 1);
    border-top: 5px solid #FFFFFF;
    transition: background-color 0.5s ease-out;

}

.btn-green:hover {
    background-color: rgb(29, 244, 201);
    cursor: pointer;
}

.btn-blue {
    background-color: rgba(0, 203, 246, 1);
    border: 1px solid rgba(0, 203, 246, 1);
    border-top: 5px solid #FFFFFF;
    transition: background-color 0.5s ease-out;
}

.btn-blue:hover {
    background-color: rgb(117, 220, 241);
    cursor: pointer;
}

/* MAiN */

.option-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 50px;
}

.option-box-black {
    width: 482px;
    height: 377px;
    background: #1C2A33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-box-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 482px;
    height: 377px;
    background: #18CFAB;
}

.option-title-black {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;

}

.option-title-white {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    padding-top: 20px;

}

.servise-section {
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
}

.main-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin: 0;
    padding-bottom: 30px;

}


.blue-line-one {
    position: absolute;
    display: block;
    background: #18CFAB;
    width: 75px;
    height: 1px;
    left: 47.5%;


}

.blue-line-two {
    position: absolute;
    display: block;
    background: #18CFAB;
    width: 75px;
    height: 1px;
    left: 48.5%;
    margin-top: 3px;

}

.centered-content {
    margin-top: 70px;
}

.tabs {
    display: flex;
    align-content: center;
    justify-content: center;
}

.tabs-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 195px;
    height: 76px;
    background: #F8FCFE;
    position: relative;
    border: 1px solid #EDEFEF;
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;
    color: #717171;
    cursor: pointer;
}

.tabs-nav-item:hover {
    border: 1.5px solid #18CFAB;
}

.tabs-nav-item.is-active {
    background: #18CFAB;
    color: rgba(255, 255, 255, 1);
    position: relative;
}

.tabs-nav-item.is-active::before,
.tabs-nav-item.is-active::after {
    content: '';
    position: absolute;
    left: 80px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}

.tab {
    display: none;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;

}


.tab.is-active {
    display: flex;
    align-items: center;

}

.img-our-services {
    width: 185px;
    height: 139px;
    margin-right: 10px;
}

.background-section-2 {
    background: url('../img/section-background/section-2.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: 476px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-section-2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 100px;
}

.paragraph-section-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;


}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.background-section-amazing_work {
    background: #E9EDEF;
    padding-top: 100px;
    padding-bottom: 50px;
}

.amazing_work-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.image-box-amazing_work {
    position: relative;
    width: 285px;
    height: 206px;
}

.image-overlay-amazing_work {
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 211px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 3px solid #18CFAB;
    opacity: 0;
    transition: 0.5s;
}

.image-overlay-amazing_work:hover {
    background: #E9EDEF;
    opacity: 1;
    cursor: pointer;

}

.circle {
    width: 43px;
    height: 43px;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    background: #E9EDEF;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.circle-2 {
    background: #18CFAB;
}

.box-create_design-title {
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;

}

.box-create_design-paragraph {
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.amazing_work-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 582px;
    height: 58px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}

.amazing_work-list:hover,
.amazing_work-list.active {
    color: #18CFAB;
    border: 2px solid #18CFAB;
    cursor: pointer;

}

.grid-box-amazing_work-load_more:nth-child(n + 2) {
    display: none;
}

.grid-box-amazing_work,
.grid-box-amazing_work-load_more {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
    justify-content: center;
    align-items: center;
}

.load_more-btn {
    width: 168px;
    height: 63px;
    background: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-left: 25px;
    color: #FFFFFF;
    border: rgba(24, 207, 171, 1);
    border-radius: 4px;
    padding-left: 10px;
}

.load_more-btn::before {
    content: '\271A';
    padding-right: 10px;
}

.load_more-btn:hover {
    cursor: pointer;
    background-color: #1be3bb;
}

.load_more-btn:focus {
    color: transparent;
    position: relative;
}

.load_more-btn:focus::after {
    position: absolute;
    content: '';
    border: 5px solid white;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    left: 65px;
    border-top-color: #8A8A8A;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.breaking-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.grid-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 150px;
    margin-top: 70px;
    margin-bottom: 150px;

}

.image {
    position: relative;
    width: 263px;
    height: 208px;
}

.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background: #203E38;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    transition: 0.5s;

}

.image-overlay:hover {
    background: #18CFAB;

}

.image-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    padding-left: 30px;
    color: #717171;
    transition: 0.5s;
    margin: 0;

}

.image:hover {
    cursor: pointer;
}

.image:hover .image-title {
    color: #18CFAB;
}

.image-title:hover .image {
    color: #18CFAB;
}

.image:hover .image-overlay {
    background: #18CFAB;
}

.image-title-by_admin {
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    padding-left: 15px;
    color: #777777;
    padding-left: 20px;
    margin: 0;
}

.image-title-by_admin>span::before {
    content: '|';
    padding-left: 20px;
    padding-right: 20px;
}

.background-section-3 {
    background: url('../img/section-background/section-3.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 853px;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.about-icon-img {
    text-align: center;
    padding-top: 70px;
}

.about-text {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #BBB;
    font-weight: 300;
}

.about-text:not(:last-child){
    margin-top: 30px;
}

.about-hidden {
    display: none;
}

.about-active {
    display: block;
    text-align: center;
}

.about-name {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18cfab;
}

.about-profession {
    padding-top: 12px;
    padding-bottom: 35px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.about-img {
    border-radius: 50%;
    box-sizing: content-box;
    border: 10px solid rgba(127, 246, 222, 0.2);
    width: 143px;
    height: 143px;
}

.about-carousel-box {
    padding-top: 38px;
    padding-bottom: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-carousel-item-img {
    width: 60px;
    height: 60px;
    margin: 15px;
    border-radius: 50%;
    box-sizing: content-box;
    border: 5px solid rgba(127, 246, 222, 0.2);
    cursor: pointer;
}

.about-carousel-active {
    transform: translateY(-20px);
    animation: upCircle 0.7s ease;
}

.about-btn {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;;
    width: 31px;
    height: 31px;
}

.previous-btn:after {
    content: '<';
    color: #BBBBBB;
    font-weight: bold;
    font-size: 16px;

}

.next-btn:after {
    content: '>';
    color: #BBBBBB;
    font-weight: bold;
    font-size: 16px;

}

.about-btn:hover {
    background: #18CFAB;
    border: #18CFAB;
    cursor: pointer;
}

.previous-btn:hover:after {
    content: '<';
    color: #FFFFFF;
}

.next-btn:hover:after {
    content: '>';
    color: #FFFFFF;
}

.footer-paragraph {
    width: 100%;
    height: 121px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AEAEAE;
    background: #22353F;
    margin: 0;
}

.footer-paragraph>span {
    color: rgba(24, 207, 171, 1);
    padding: 5px;
}