body {
    color: #FFFFFF;

}

/* ############################################### */

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* ############################################### */

/* Header */

/* ############################################### */

.header {
    background: url('../img/background/Rectangle.png') no-repeat center;
    background-size: cover;
    max-width: 1360px;
    height: 768px;
    margin: 0 auto;
    z-index: 50;
    position: relative;

}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-title {
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}

.logo-title>span {
    color: #28A745;
}

.header-nav-lists {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav-item,
.header-nav-item-link {
    position: relative;
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    transition: color 0.5s ease-in-out;

}
.header-nav-item-link::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color:#207f36;
    transition: width 0.5s ease-in-out;
}

.header-nav-item-link:hover::before{
    width: 100%;
}

.header-main-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/* .header-main-box {
} */

.header-main-title {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 55px;
    line-height: 66px;
    color: #E9E9E9;
    padding: 25px;

}

.header-main-paragraph {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    text-align: center;
    color: #E9E9E9;
    padding-bottom: 30px
}

.header-btn {
    width: 165px;
    height: 48px;
    background: #28A745;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease-in-out;
}

.header-btn:hover {
    cursor: pointer;
    background: #30d757;

}

.btn-title {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}



/* ############################################### */

/* main */

/* ############################################### */
.background-section-info {
    width: 1360px;
    min-height: 275px;
    background: #F4F4F4;
    margin: 0 auto;;

}

.section-main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-info-box {
    height: 200px;
    max-width: 362px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.img-info {
    position: relative;
    width: 75px;
    height: 60px;
    border-radius: 50%;
    background-color: #28A745;
    margin: 0 auto;
    padding-bottom: 15px;
}

.image-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.section-info-title {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #333333;
    padding-bottom: 15px;

}

.section-info-paragraph {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}

.section-portfolio-box-green,
.section-portfolio-box-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.portfolio-box-green {
    width: 680px;
    height: 460px;
    background: #28A745;


}

.portfolio-box-blue {
    width: 680px;
    height: 517px;
    background: #0284D0;

}

.portfolio-text,
.portfolio-text-blue {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    margin-top: 50px;
    padding: 5px;
    padding-left: 30px;
}

.portfolio-text-blue {
    padding-top: 50px;
    padding-left: 30px;
}

.portfolio-title {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.portfolio-paragraph {
    width: 606px;
    height: 113px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.btn-portfolio-green {
    width: 167px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 30px;
    background: #28A745;
}

.btn-portfolio-green:hover {
    cursor: pointer;
    border: 2px solid #207f36;
}

.btn-portfolio-blue {
    width: 167px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 30px;
    background: #0284D0;
}

.btn-portfolio-blue:hover {
    cursor: pointer;
    border: 2px solid #0469a3;
}

/* #################################### */

.main-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-main {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #333333;
    padding-bottom: 15px;
}

.title-main {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    color: #333333;
    padding-bottom: 35px;
}

.paragraph-main {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

/* #################################### */

.grid-box-business_cases {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.professional-team-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.professional-team {
    text-align: center;
}

.professional-team-title {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #333333;
    padding-top: 13px;
    padding-bottom: 13px;
}

.professional-team-place {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.professional-team-img {
    position: relative;

}

.team-image-overlay {
    position: absolute;
    width: 420px;
    height: 280px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.5s;
}

.team-image-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.svg:hover svg path {
    fill: rgb(34, 34, 200);
}

.request-callback-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-callback-title-box {
    width: 680px;
    height: 460px;
    background: #F4F4F4;
}

.request-callback-title {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    color: #333333;
    margin-top: 80px;
    margin-bottom: 35px;
    padding-left: 30px;
}

.input-request-callback {
    min-width: 620px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #808080;
    margin-left: 30px;
    margin-bottom: 35px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
}

.input-request-callback:focus {
    outline: none;
}

.request-callback-btn {
    min-width: 620px;
    height: 40px;
    background: #28A745;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    margin-left: 30px;
    transition: background-color 1.5s ease;
}

.request-callback-btn:hover {
    cursor: pointer;
    background-color: #207f36;
}

.footer {
    width: 1360px;
    height: 110px;
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}
.footer-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
