.comment {
  padding-bottom: 200px;
  @media (max-width: ($md2 + px)) {
    padding-bottom: 100px;
  }
  &__contant {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 16px;
    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media (max-width: ($md2 + px)) {
        grid-template-columns: auto;
    }
  }

  &__item {
    width: 100%;
    height: 364px;
    background: #000000;
    border-radius: 32px;
    padding: 50px 60px 64px 50px;
  }
}
.item-comment {
  &__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    &:not(:last-child) {
      padding-bottom: 20px;
    }
    @media (max-width: ($md2 + px)) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    
  }
}
.rating-comment {
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  line-height: 0.75;
  margin-bottom: 15px;
  &__body {
    position: relative;
    &::before {
      content: "★★★★★";
      display: block;
    }
  }

  &__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &::before {
      content: "★★★★★";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #ffd300;
    }
  }

  &__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__item {
    flex: 0 0 15%;
    height: 100%;
    opacity: 0;
  }

  &__value {
    font-size: 50%;
    line-height: 1;
    padding-left: 10px;
  }
}
