.episodes {
  padding-top: 93px;
  padding-bottom: 250px;
  @media (max-width: ($md2 + px)){
    padding-top: 50px;
  padding-bottom: 125px;
  }
  &__contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 66px;
    @media (max-width: ($md2 + px)) {
      flex-direction: column;
      gap: 20px;
      padding-bottom: 33px;
    }
  }

  &__title {
    @media (max-width: ($md2 + px)) {
      font-size: 34px;
      line-height: 40px;
    }
  }

  &__button {
    color: $mainColor;
    @media (max-width: ($md3 + px)) {
      font-size: 15px;
      line-height: 20px;
      width: 100%;
      text-align: center;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 53px;
    @media (max-width: ($md1 + px)) {
      flex-direction: column;
      gap: 25px;
    }
  }
}

.items-episodes {
  background: #000000;
  border-radius: 32px;
  padding: 40px 60px 40px 40px;
  margin-bottom: 60px;
  @media (max-width: ($md2 + px)){
    padding: 30px 40px 30px 30px;
  margin-bottom: 30px;
  }
  &__images img {
    @media (max-width: ($md2 + px)) {
      width: 100%;
      height: 100%;
    }
  }
}
.item {
  &__button {
    background: #191919;
    border-radius: 6px;
    color: $mainColor;
    border: none;
    margin-bottom: 48px;
  }

  &__episode {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118da8;
    &:not(:last-child) {
      padding-bottom: 18px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    padding-bottom: 28px;
    @media (max-width: ($md3 + px)) {
      font-size: 32px;
      line-height: 35px;
      padding-bottom: 14px;
    }
  }

  &__text {
    padding-bottom: 18px;
    @media (max-width: ($md3 + px)) {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
