.footer {
  min-height: 238px;
  padding-bottom: 100px;
  @media (max-width : ($md2 + px)){
    padding-bottom: 50px;
  }
  &__contant {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 100px;
    @media (max-width : ($md1 + px)){
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
      }
      @media (max-width : ($md2 + px)){
      grid-template-columns: auto;
    }
  }
}
.contant-footer {
  &__icon {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
.footer-logo {
  &__apps {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
  }
}
.items-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

  &__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: $mainColor;
    transition: color 0.5s ease;
    &:hover{
        color: #118DA8;
    }
  }
}

