.header {
  &__contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 85px;
  }

  &__menu-icon {
    display: none;
    @media (max-width: ($md2 + px)) {
      display: block;
      width: 44px;
      height: 44px;
      position: relative;
      z-index: 2;
      overflow: hidden;
      & > span {
        width: 35px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        transition: all 0.5s;
      }
      & > span:nth-of-type(2) {
        top: calc(50% - 6px);
      }
      & > span:nth-of-type(3) {
        top: calc(50% + 6px);
      }
      &.active > span:nth-of-type(1) {
        display: none;
      }
      &.active > span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
      }
      &.active > span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
    }
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    @media (max-width: ($md2 + px)){
        flex-direction: column-reverse;
        gap: 30px;
    }
  }
}
.menu {
  &__navbar {
    @media (max-width: ($md2 + px)) {
      position: absolute;
      top: 90px;
      opacity: 0;
      right: 20px;
      width: 182px;
      height: 208px;
      border-radius: 6px;
      background: #757474;
      transition: opacity 0.5s ease-in;
      padding: 20px 0px;
      &.active {
        opacity: 1;
      }
    }
  }

  &__lists {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: ($md2 + px)) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
  &__list {
    @media (max-width: ($md2 + px)) {
      padding-left: 12px;
      &:hover {
        width: 100%;
        background: #e5e5e5;
      }
    }
  }
  &__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: $mainColor;
    transition: color 0.5s ease;
    &:hover {
      color: #118da8;
    }
  }
}
.main-header {
  &__img {
    & img{
        max-width: 100%;
        height: 100%;
    }
  }

  &__contant {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    padding-bottom: 90px;
    @media (max-width: ($md1 + px)){
        font-size: 50px;
        line-height: 54px;
        padding-bottom: 45px;
    }
  }

  &__listen {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__icon {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    &:hover{
        cursor: pointer;
    }
  }
}
