.meet {
    padding-bottom: 200px;
    @media ( max-width: ($md3 + px)){
        padding-bottom: 100px;
    }
  &__contant {
    display: flex;
    align-items: center;
    gap: 60px;
    @media ( max-width: ($md1 + px)){
        flex-direction: column;
        gap: 30px; 
    }
  }
}
.items-meet {
  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__button {
    width: 112px;
    height: 112px;
    font-size: 50px;
    background: #118da8;
    border-radius: 50%;
    border: none;
    transition: all 0.5s ease;
    &:hover {
      transform: rotate(-90deg);
      cursor: pointer;
    }
  }
  &__span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118da8;
  }

  &__title {
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    padding-bottom: 28px;
  }

  &__images img{
    @media ( max-width: ($md2 + px)){
        max-width: 100%;
        height: 100%;
    }
  }
}
