// Font settings:
@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap);

$fontFamily: "DM Sans";
$mainColor: #fff;

$minWidth: 320px;
$maxWidth: 1920px;
//Container
$maxWidthContainer: 1270px;
$md1: 991.98;
$md2: 767.98;
$md3: 479.98;
$md4: 320;

@import "null";

//Basic styles
body {
  font-family: $fontFamily;
  color: $mainColor;
  background: #191919;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.button {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  background-color: #118da8;
  border-radius: 6px;
  padding: 12px 20px;
  transition: background-color 0.5s ease-in-out;
  &:hover{
    background-color: #81b0ee;
  }
}

.title {
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
}

.text {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
}

//Basic styles

// Files import
@import "header";
@import "episodes";
@import "meet";
@import "subscribe";
@import "comment";
@import "footer";
// Files import
