.subscribe {
  min-height: 387px;
  background: #000000;
  border-radius: 32px;
  padding: 60px 60px;
  margin-bottom: 200px;
  @media (max-width: ($md2 + px)) {
    padding: 20px 20px;
    margin-bottom: 100px;
  }
  &__contant {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($md1 + px)) {
      flex-direction: column;
      gap: 50px;
    }
  }
  &__span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118da8;
  }

  &__title {
    max-width: 431px;
    @media (max-width: ($md2 + px)) {
      font-size: 35px;
      line-height: 40px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.item-subscribe {
  &__input {
    min-width: 552px;
    height: 82px;
    background: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    @media (max-width: ($md2 + px)) {
      min-width: 100%;
      height: 42px;
      font-size: 20px;
      line-height: 25px;
    }
  }
  &__button {
    width: 87px;
    height: 48px;
    padding: 10px 15px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
  }
}
