* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.background-header {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 900px;
  width: 100%;
  color: #ffffff;
}

.greeting {
  padding-top: 528px;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  padding-bottom: 16px;
}

.text {
  padding-top: 10px;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 60px;
}

.big-text {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  border-color: #ffffff;
  border: 2px solid;
  width: 100%;
  max-width: 771px;
}

.big-text>span {
  display: inline-block;
  border-right: 4px #f48e0b solid;
  padding: 10px;
  color: #f48e0b;
}

.main-section {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.section-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #333333;
  padding: 15px 0;
}

.section-paragraph {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #4D4943;
}

.grey-line::after {
  display: block;
  content: "";
  background: #333333;
  width: 60px;
  height: 2px;
  margin: 20px auto;
}

.section-items {
  display: flex;
  gap: 20px;
}

.long-grey-line::before,
.long-grey-line::after {
  display: block;
  content: "";
  background: #333333;
  width: 100%;
  height: 2px;
  margin: 20px 0;
}

.section-item-name {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.section-item-name:after {
  content: "";
  background: #333333;
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  margin-bottom: 25px;
  border-bottom: 3px solid #f1b128;
}

.logo {
  font-size: 38px;
  font-weight: bold;
  color: #f1b128;
}

.menu-list {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  flex-wrap: wrap;
  gap: 70px;
}

.menu-link {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
  text-decoration: none;
}

.menu-link:hover {
  color: #f1b128;
  cursor: pointer;
}

.dropdown-btn {
  position: relative;
}

.dropdown-links {
  display: none;
  width: 80px;
  background-color: #f1ad1d;
  color: antiquewhite;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
}

.dropdown-link {
  padding: 5px 10px;
  color: antiquewhite;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.dropdown-btn:hover .dropdown-links {
  display: block;
}

.d-flex {
  display: flex;
  width: 100%;
  gap: 20px;
}

.block-1 {
  display: flex;
  flex-wrap: wrap;
  /* flex: 100%; */
  flex-basis: 50%;
  gap: 30px;
}

.img-1 {
  width: 100%;
  max-width: 270px;
  margin: 5px;
  object-fit: cover;
}

.block-2 {
  flex-basis: 50%;
  color: #505050;
}

.block-2 h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.block-2 h3 span {
  color: #f1b128;
}

.block-2 p {
  font-size: 14px;
  line-height: 22px;
  padding-top: 22px;
}

.block-2 button {
  margin-top: 36px;
  padding: 19px 27px;
  background: #f1b128;
  color: #ffffff;
  border: none;
}

.block-2 button:hover {
  outline: 1px solid #505050;
  cursor: pointer;
}

.background-section-1 {
  background: url("../img/background-section-1.png") no-repeat center;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 380px;
}

.container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 380px;
  margin-top: 50px;
}

.section-paragraph-1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 50px;
}

.section-paragraph-1>span {
  color: #f48e0b
}

.grid-lists {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  flex-wrap: wrap;
  padding-bottom: 100px;

}

.image {
  position: relative;
  width: 193px;
  height: 178px;
}

.image-overlay {
  position: absolute;
  bottom: 10px;
  width: 139px;
  height: 45px;
  left: 12px;
  background: #203E38;
}

.image-name {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-left: 5px;
}

.image-name>span {
  color: rgba(241, 173, 29, 1);
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(3, 300px);
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  padding: 25px 0;
}

.grid-container div>img {
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
}

.card {
  flex-basis: 270px;
  text-align: center;
  margin-bottom: 80px;
}

.card::after {
  content: '';
  display: block;
  height: 2px;
  width: 273px;
  background: #333333;
  margin: 20px 0;
}

.card-text {
  text-shadow: 0px 3px 15px rgb(189, 189, 189);
}

.box_border {
  text-transform: capitalize;
  color: white;
  background-color: #3d3d3d;
  padding: 22px 63px 16px 63px;
  margin-bottom: 30px;
}

.box_border span {
  color: #f1ad1d;
}

.pictureicon {
  margin-bottom: 30px;
  height: 50px;
}

.orange-line::after {
  content: "";
  display: block;
  text-align: center;
  background: #f1ad1d;
  width: 60px;
  height: 2px;
  margin: 37px auto 27px auto;
}

.caption {
  font-size: 18px;
  font-weight: 400;
  color: #505050;
}

.background-section-2 {
  background: url("../img/background-section-2.png") no-repeat center;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 475px;
  margin: 100px 0;
}

.background-section-text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 150px;
}

.background-section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  margin: 80px 0;
}

.background-section-text>span {
  color: #f1ad1d;
  padding-left: 5px;
  padding-right: 5px;
}

.input-form {
  width: 773px;
  height: 67px;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
}

input.input-form {
  padding-left: 50px;
  outline: none;
}

.input-form-button {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;

  width: 175px;
  height: 67px;
  background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
  border: none;

}

.input-form-button:hover {
  background: #f48e0b;
  cursor: pointer;
}



.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  width: 48%;
  /* height: 46px; */
  background: rgba(17, 17, 17, 0.0001);
  border: 1px solid #929292;
}

.form-field:last-child {
  width: 100%;
  height: 187px;
  margin-top: 3%;
}

input.form-field,
textarea.form-field {
  padding: 18px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  color: #505050;
}

.form-buttons {
  margin-top: 5%;
  display: flex;
  gap: 5%;
}

.form-button {
  cursor: pointer;
  font-family: "Lato";
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px 40px;
  background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
  border: none
}

.form-button:hover {
  background: #f48e0b;
}

.section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section-form-title {
  background: #333333;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  width: 383px;
  padding: 20px;
}

.section-form-title>span {
  color: #f1ad1d;
}

.section-form-desc {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  margin: 20px auto;
}



/* ================================ */
.section-contact-address-title,
.section-contact-social-title {
  background: #333333;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  width: 383px;
  padding: 20px;
}

.section-contact-address-title>span,
.section-contact-social-title>span {
  color: #f1ad1d;
}

.section-contact-address-desc {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  margin: 20px auto;
}

.section-contact-address-item {
  margin: 6px auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-contact-address-item-img-container {
  background: #333333;
  padding: 12px;
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-contact-address-item-desc {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  color: #505050;
}

.section-contact-social-title {
  margin: 40px auto 26px;
}

.section-contact-social-items {
  display: flex;
  gap: 26px;
}

.section-contact-social-item-img-container {
  background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #ffffff;
  width: 48px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-section-3 {
  background: url("../img/background-section-3.png") no-repeat center;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 485px;
  margin: 100px 0;
}

.background-section-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.background-section-paragraph>span {
  color: #f1ad1d;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
}

.post {
  max-width: 374px;
  height: 342px;
}

.post-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;

}

.post-svg {
  width: 39px;
  height: 35px;
  background: #333333;
}

.post-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-paragraph {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #505050;

}

.post-paragraph::after {
  content: "";
  display: block;
  height: 4px;
  width: 374px;
  background: #C1C1C1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-after {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #828282;
}

.grey-line-h::after {
  content: '';
  display: block;
  width: 374px;
  height: 6px;
  background: #333333;
  margin-top: 10px;
  margin-bottom: 50px;
}

.post-grey-line-width::before {
  content: '';
  display: block;
  width: 374px;
  height: 48px;
  background: #333333;
  margin-top: 80px;
}

.box-img {
  width: 373px;
  height: 160px;
  background: #DBDBDB;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.box-img-paragraph {
  font-family: 'OpenSansLight';
  font-size: 26px;
  line-height: 30px;
  color: #666666;
}

.name {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #9C9B9B;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.btn-load_more {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  width: 235px;
  height: 54px;
  background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
  border: none;
}

.btn-load_more:hover {
  outline: 1px solid #505050;
  cursor: pointer;
}

.background-section-4 {
  background: url("../img/background-section-4.png") no-repeat center;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 483px;
  margin: 100px 0;
}

.btn-background-section-4 {
  width: 177px;
  height: 50px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #FFFFFF;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn-background-section-4:hover {
  outline: 1px solid #505050;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.filter {
  padding: 12px 30px;
  border: 2px solid black;
}

.filter:hover {
  background-color: #333333;
  color: rgba(241, 173, 29, 1);
  cursor: pointer;
}

.active {
  background-color: #333333;
  color: rgba(241, 173, 29, 1);
}

.image-box {
  position: relative;
  width: 281px;
  height: 271px;

}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 271px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
}

.image-overlay:hover {
  background: #FFFFFF;
  border: 2px solid #333333;
  opacity: 1;
  cursor: pointer;

}


.box-create_design-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #111111;

}

.box-create_design-paragraph {
  width: 258px;
  height: 47px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5B5B5B;
}

.btn-overlay {
  width: 141px;
  height: 39px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: #F1AD1D;
  border: none;
  margin: 20px;
}

.btn-overlay:hover {
  outline: 1px solid #505050;
  cursor: pointer;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 66px;
  background: #333333;
  margin-top: 35px;
  margin-bottom: 35px;
}

.footer-section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer-section-title>span {
  color: #f1b128;
}

.footer-paragraph {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  color: #333333;
  margin: 20px;
}