body {
    font-family: 'Heebo';
    color: #21243D;
}

/*=================================================================================*/

.container {
    max-width: 830px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/*=================================================================================*/
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 27px 0px;
    margin: 0px 30px;
}

.navbar-lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}

.navbar-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    transition: color 0.5s ease;

}

.navbar-link.active {
    color: #f82626;
}

.navbar-link:hover {
    text-decoration: underline;
    color: #f82626;
}

.icon-menu {
    display: none;
}


@media (max-width: 767.98px) {
    .header-main {
        flex-direction: column-reverse;
        gap: 55px;
    }

    .page-header {
        padding-top: 70px;
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        background: none;
        border: none;

    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #21243D;
        transition: all 0.5s ease;

    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);

    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }

    .navbar-body {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #b9b8b8;
        left: -100%;
        top: 0;
        padding-top: 100px;
        padding-bottom: 30px;
        z-index: 3;
        overflow: auto;
        transition: left 0.5s ease;
    }

    .navbar-body::before {
        content: '';
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background: #b9b8b8;
        z-index: 2;
        transition: left 0.5s ease;
    }

    .navbar-lists {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar-link {
        font-size: 24px;
    }

    .menu-open .navbar-body,
    .menu-open .navbar-body::before {
        left: 0;
    }
}


/*=================================================================================*/

.blog {
    padding-top: 81px;
    padding-bottom: 105px;
}


.blog-contant-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    padding-bottom: 55px;
}

.blog-contant-item-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
}

.blog-contant-item-icon {
    display: flex;
 
}

.blog-contant-item-icon-date {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.blog-contant-item-icon-worker {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;

}

.blog-contant-item-icon-date ,
.blog-contant-item-icon-worker  {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 11px;
}

.blog-contant-item-icon-date::after {
    content: '';
    display: block;
    width: 2px;
    height: 21px;
    margin: 0px 20px;
    background-color: #000000;
}


.blog-contant-item-text {
    max-width: 682px;
}

.black-line {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
    margin: 24px 0px 31px 0px;
}

@media(max-width: 441.98px) {
    .blog {
        padding-top: 24px;
        padding-bottom: 65px;
    }
    .blog-contant-item{
        padding-top: 15px;
    }
}

/*=================================================================================*/
.footer-items {
    display: grid;
    place-items: center;
    margin-bottom: 55px;
}


.footer-item {
    display: flex;
    align-items: center;
    gap: 35px;
}


.footer-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-top: 26px;
}

/*=================================================================================*/